<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DocumentScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Arenax" connectionString="Data Source=ccv08-l027;Initial Catalog=Arena;"/>
    <add name="Arena" connectionString="Data Source=CCVSQL;Initial Catalog=Arena;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="Organization" value="3"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <userSettings>
    <DocumentScanner.Properties.Settings>
      <setting name="DefaultDocType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultScanner" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultRotate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultPageSize" serializeAs="String">
        <value>0</value>
      </setting>
    </DocumentScanner.Properties.Settings>
  </userSettings>
</configuration>
