<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="Arena" connectionString="Data Source=CCVSQL;Initial Catalog=Arena;"/>
		<add name="Arenaxx" connectionString="Data Source=CCV07-L007;Initial Catalog=Arena;"/>

	</connectionStrings>

	<appSettings>

		<!-- The organization that current instance of Arena uses for data -->
		<add key="Organization" value="3"/>
		<add key="ImageCachePath" value="C:\Temp\ImageCache"/>

	</appSettings>
</configuration>